<% include partials/headerSinglePageApp %>
<h2>Find Beats for Your Wines!</h2>
<br>



<script src="js/soundcloud.js"></script>
<br>
Choose your favorite music genre:
	<form action="">
		<div>
			<select>
			  <option value="Classical">Classical</option>
			  <option value="Jazz">Jazz</option>
			  <option value="Electronic">Electronic</option>
			  <option value="Country">Country</option>
			</select>
			<input type="submit" value="Submit">
		</div>	
	</form>
<br>
<a id="newWineSearch" href="">Search For Wines!</a>
<br>
<a id="newWinelink" href="wines/new">Add your Own Wine!</a>
<div id="musicPlayer"></div>




<!-- Here is Where the Search Data is Populated, Make Sure Music Player is above -->


<div id="wineData"></div>

<% include partials/footer %>