<% include partials/headerSinglePageApp %>
<h2>Find Beats for Your Wines!</h2>
<br>



<script src="js/soundcloud.js"></script>
<br>
<br>
<a id="newWineSearch" href="">Search For Wines!</a>
<br>
<a id="newWinelink" href="wines/new">Add your Own Wine!</a>




<!-- Here is Where the Search Data is Populated, Make Sure Music Player is above -->


<div class="wineData"></div>

<% include partials/footer %>