<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<script src="//connect.soundcloud.com/sdk.js"></script>
	
	 <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

	<script src="/js/music.js"></script>

</head>
<body>
	<h1>Cool Beats!</h1>
	<a href="#" class="connect"> Connect With SoundCloud</a>
		<p>Hello, your name is <span id="username"></span></p>
	<a href="#" id="start">Start</a>
	<a href="#" id="stop">Stop</a>
	
</body>
</html>