
.searchResults{
	list-style-type: none;
}

.container {
	display: table;
	width: 100%;
}

.searchInfo {
	/*right: 600px;*/
	padding: 20px;
/*	position: relative;*/
	text-align: center;
/*	display: table-row;*/
	float: left;
}

.column{
	/*display: table-cell;*/
}

.labelImage{
/*	margin-top: 30px;*/
}

.fancyOne {
	padding-top: 10px;
}

.fancyTwo, .fancyThree, .fancyFour {
	padding-top: 5px;
}